services:
  backend:
    build: .
    container_name: endee-backend
    ports:
      - "8000:8000"
    environment:
      - ENDEE_BASE_URL=http://endee:8080/api/v1
    env_file:
      - .env
    depends_on:
      - endee
    volumes:
      - .:/app
    restart: unless-stopped

  endee:
    image: endeeio/endee-server:latest
    container_name: endee-server
    ports:
      - "8080:8080"
    volumes:
      - endee-data:/data
    restart: unless-stopped

volumes:
  endee-data:
